body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: transparent;
  }
  
  /* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Basic styling for the header */
.header {
  background:rgba(255,255,255,0);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: black;
  
}

/* Logo styling */
.header-logo img {
 
  max-width: 100%;
  height: auto;
  opacity:0.6;
}


/* Header text styling */
.header-text {
  text-align: center;
  margin-top: 1rem;
}

.header-text h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.header-text p {
  font-size: 1rem;
}

  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
  }
  
  form ol {
    list-style-type: decimal;
  }
  
  form li {
    margin-bottom: 1rem;
  }
  
  
  button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  #result{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f2f2f2;
  }
#reportcardbox{

  display:none;

}
#reportcardbox h1{
  text-align: center;
 font-weight:800;
}

#reportcard{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  background:rgba(255,255,255,0);
  color:black;
  border: solid 3px dodgerblue ;
  border-radius:8px;
  padding: 1em;
  margin-top:1em;
  width: 100%;

}

#reportcard div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:200px;
  width: 200px;
  border-radius:8px;
  background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,1));
  padding:8px;
  box-shadow: 0px 2px 3px silver;
  margin:8px;

}
#reportcard div > p{
  padding:6px;
  text-align: center;
}
#reportcard div:hover{
  outline: solid 2px red;
}

#scorebox{
  font-size: 60px;
  font-weight: bolder;
  color:blueviolet;
}
#quiz-form label{

  width:150px;
  padding:1em;
  background:cyan ;
  margin:8px;
  border-radius:20px;
  outline: solid 1.5px dodgerblue;

}
#quiz-form label:hover{
    
   transform:scale(1.1);
   background:#EFE7BC;   
}
#canvasParent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#quizcard{
  display:none;
  padding: 20px;
  background:rgba(255,255,255,0);
  border-radius:8px;

}
#quizbox{

display:flex;
flex-direction:column;
justify-content: left;
align-items: center;
padding:12px;
margin:1em;
background:rgba(255,255,255,0);
border-radius: 8px;
outline: solid 2px silver;

}
#quizbox h1{
text-align: center;
}
.bcard{
display:flex;
flex-direction:column;
justify-content: left;
align-items: center;
padding:6px;
}

.contactcard{
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-item:left;
 height:200px;
 width:100%;
 border-radius:8px;
 outline:solid 1.5px dodgerblue;
 padding:12px;
 margin:12px;
 background:#fff; 
}

.bcard button{

  border-radius: 30px;
  height: 60px;
  width:150px;
}
#quizbox div{
  height:200px;
  width:250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px silver;
  margin:25px 10px 25px 10px;
  background:linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,1));
  transition:0.5s ease;
}
#quizbox div:hover{

  transform:scale(1.1);
  
}
.rwrap{

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.rcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}

.rcontainer label,
.rcontainer input {
  display: block;
  width: 80%;
  margin-bottom: 10px;
}

.rcontainer label {
  font-weight: bold;
}

.rcontainer input[type="text"],
.rcontainer input[type="email"],
.rcontainer input[type="tel"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s ease;
}

.rcontainer input[type="text"]:focus,
.rcontainer input[type="email"]:focus,
.rcontainer input[type="tel"]:focus {
  border-color: #007bff;
}

.rcontainer button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rcontainer button:hover {
  background-color: #0056b3;
}
